:root {
  --dark-1: rgba(23, 32, 42, 1);
  --dark-2: rgba(28, 39, 51, 1);
  --dark-3: rgba(40, 51, 64, 1);
  --dark-4: rgba(58, 68, 76, 1);
  --dark-6: rgba(136, 153, 166, 1);
  --primary-blue: rgba(104, 95, 164, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(15, 20, 25, 1);
  --dark-5: rgba(91, 112, 131, 1);
  --dark-7: rgba(235, 238, 240, 1);
  --dark-8: rgba(247, 249, 250, 1);
}
